RewriteEngine On
RewriteBase /
# If a resource exists, serve it
 
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
 
# Otherwise, redirect to index file
 
RewriteRule ^([-0-9a-zA-Z]+)/(inc)$ index.php?page=$1&inc=true
RewriteRule ^([-0-9a-zA-Z]+)$ index.php?page=$1
